* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(38, 129, 38);
}

ul {
    list-style: none;
}

ul h2 {
    border-bottom: solid gray 1px;
}

h1 {
    margin-bottom: 16px;
}

li:hover {
    background-color: rgb(211, 211, 211);
}

#app {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* width: 100vw;
    height: 100vh; */
}

#search-screen {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#calorie-screen {
    display: none;
}

#calorie-screen.show {
    display: flex;
    flex-direction: column;
}

#dropdown {
    display: block;
    background-color: white;
    width: 25%;
    overflow: auto;
    border-left: solid gray 1px;
    border-right: solid gray 1px;
}

#search-box {
    box-sizing: border-box;
    /* background-color: darkgray; */
    border: none;
    border-bottom: solid darkgray 1px;
    width: 25%;
    height: 24px;
}

#search-box:focus {
    outline: none;
}

.food-item {
    display: flex;
    flex: 50%;
    cursor: pointer;
    border-bottom: solid gray 1px;
    /* justify-content: space-between; */
}

.food-item p {
    /* display: none; */
    display: block;
}

.img-wrapper {
    width: 48px;
}

.food-item img {
    display: block;
    height: 32px;
    margin: 8px auto;
    max-height: 35px;
    max-width: 35px;
}

.hidden {
    visibility: hidden;
}